* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

.conteiner {
  width: 300px;
  margin: 50px auto 0;
}

@media (min-width: 600px) {
  .conteiner {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}
